<header class="theHeader d-flex flex-column flex-md-row align-items-center justify-content-bewteen pb-3 mb-4
    bg-white border-bottom fixed-top shadow-sm">

      <nav class="text-uppercase fs-4">
        <a class="me-3 py-2 text-dark text-decoration-none" 
            routerLink="/concerts" routerLinkActive="active" 
            style="margin-right: 20px; margin-left: 20px"
            href="#">Concerts</a>
        <a class="me-3 py-2 text-dark text-decoration-none" style="margin-right: 20px; margin-left: 20px"
            href="#">Cities</a>
        <a class="me-3 py-2 text-dark text-decoration-none" style="margin-right: 20px; margin-left: 20px"
            href="#">Genres</a>
      </nav>
</header>
